* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  font-style: normal;
  width: 1200px;
}

.nav__header-top {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.nav__web-studio {
  display: block;
  font-family: 'Raleway';
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  font-size: 1.625rem;
  margin-right: 93px;
}

.nav__w-studio {
  color: #2196f3;
}

.nav__flexw-stdio-top {
  border-bottom: 1px solid #ececec;
  padding-bottom: 24px;
}

.navigation {
  flex: 1;
  margin-left: 24px;
}

.navigation__list {
  display: flex;
  gap: 24px;
}

.list__link-rest {
  color: #212121;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: auto;
  text-decoration: none;
  margin-right: 46px;
  transition: 0.2s;
}

.list__link-rest:hover {
  color: #2196f3;
}

.link--active {
  color: #2196f3;
  border-bottom: 4px solid #2196f3;
  padding-bottom: 28px;
  border-radius: 4px;
}

.contact__list {
  display: flex;
  gap: 24px;
}

.contact__tel:hover .contact__eami-top-svg .contact__svg-color-top,
.contact__email:hover .contact__tel-top-svg .contact__svg-color-top {
  fill: #2196f3;
}

.contact__tel:hover,
.contact__email:hover {
  color: #2196f3;
}

.contact__email-tel-adress:hover {
  color: #2196f3;
}

.contact__email-tel:focus {
  background-color: #2196f3;
  outline: none;
}

.contact__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: 0.2s;
}

.contact__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: 0.2s;
}

.contact__tel,
.contact__email {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s;
}

.contact__tel-top-svg {
  transform: translateY(20%);
  margin-left: 30px;
  margin-right: 10px;
  transition: 0.2s;
}

.contact__eami-top-svg {
  margin-left: 30px;
  margin-right: 10px;
  transition: 0.2s;
}

.contact__svg-color-top {
  fill: #afb1b8;
  transition: 0.2s;
}

.contact__svg-color-top:hover {
  fill: #2196f3;
}

.title {
  height: 600px;
  margin-top: 25px;
  align-items: center;
  text-align: center;
}

.title__border-top {
  max-width: 1600px;
  background-image: url('../images/services/pictrueindextop.jpg'),
    linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%);
  background-size: 1600px;
  background-position: center;
  text-align: center;
  margin: 0 auto;
  height: 600px;
}

.title__top {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
  align-items: center;
  max-width: 700px;
  margin-left: 250px;
}

.title__botoon-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06rem;
  border: 4px;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  transition: 0.2s;
}

.title__botoon-index:hover {
  color: #020202;
  background: #f5f4fa;
}

.title__botoon-index:focus {
  background-color: #2196f3;
  outline: none;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 5;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms 300ms ease, visibility 300ms 300ms ease;
}

.modal__content {
  background-color: #ffffff;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(1);
  transition-duration: 300ms;
}

.is-hidden .modal__content {
  transform: scale(0);
  transition-duration: 300ms;
}

.modal__content-button {
  background-color: #ffffff;
  color: #020202;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.modal__content-button:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.modal__wrapper:has(> .modal__borderInModal:focus) .modal__svg,
.modal__wrapper:hover .modal__svg {
  fill: #2196f3;
}

.modal__text-in {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal__in {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: start;
  margin-left: 40px;
}

.modal__svg {
  position: absolute;
  margin-left: 15px;
  margin-top: 14px;
}

.modal__border-in {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  transition: 0.2s;
}

.modal__border-in:hover,
.modal__border-in:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__border-in-two {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  transition: 0.2s;
}

.modal__border-in-two:focus,
.modal__border-in-two:hover {
  border-color: #2196f3;
  outline: none;
}

.modal__checkbox-wrapper {
  position: absolute;
  margin-left: 40px;
  margin-top: 10px;
}

.modal__checkbox-hidden {
  position: absolute;
  opacity: 0;
}

.modal__checkbox-not-checked {
  position: absolute;
  transform: translate(0%, -50%);
  opacity: 1;
}

.modal__checkbox-checked {
  position: absolute;
  transform: translate(0%, -50%);
  opacity: 0;
  z-index: 1;
}

.modal__checkbox-hidden:checked ~ .modal__checkbox-checked {
  opacity: 1;
}

.modal__checkbox-hidden:checked + .modal__checkbox-not-checked {
  opacity: 0;
}

.modal__in-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__reg-colorl-one {
  color: #2196f3;
  text-decoration: underline;
}

.modal__reg-colorl-two {
  color: #2196f3;
  text-decoration: underline;
}

.modal__button-in-botom {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  color: #ffffff;
  transition: 0.2s;
}

.modal__button-in-botom:hover,
.modal__button-in-botom:focus {
  transform: scale(1.1);
}

.article__flex-title {
  display: flex;
  gap: 30px;
  margin-top: 94px;
  width: 1170px;
}

.article__border {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.svg--margin {
  padding-left: 100px;
}

.article__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.article__title-txt {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

.picture__img-txt {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 94px;
}

.picture__flex-index {
  display: flex;
  margin: 30px;
  gap: 30px;
  margin-top: 50px;
}

.picture__box-index-one {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 28px 90px;
  position: relative;
  bottom: 50px;
  color: #ffffff;
}

.picture__box-index-two {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 28px 112.98px;
  position: relative;
  bottom: 50px;
  color: #ffffff;
}

.picture__box-index-there {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 28px 94px;
  position: relative;
  bottom: 50px;
  color: #ffffff;
}

.team {
  height: 648px;
  background: #f5f4fa;
  margin-top: 94px;
  height: 708px;
}

.team__resth-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding-top: 94px;
}

.team__flex-img-person-one {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team__img-txt-person {
  width: 270px;
  height: 428px;
  background: #ffffff;
}

.team__person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team__person-name-txt {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.team__flex-svg-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team__border-svg {
  background-color: #ffffff;
  margin-top: 16px;
  border: 1px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  fill: #afb1b8;
  transition: 0.2s;
}

.team__border-svg:hover {
  background-color: #2196f3;
  fill: white;
}
.team__margines {
  margin-top: 12px;
  margin-left: 12px;
}

.client {
  text-align: center;
  margin-top: 94px;
}

.client__svg {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.client__border-svg-index {
  fill: #afb1b8;
}

.svg--color-inex {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.client__border-svg-index:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.adress__color {
  background: #2f303a;
  height: 252px;
  margin-top: 94px;
}

.adress__flex {
  height: 252px;
  background: #2f303a;
}

.adress__web-studio {
  font-family: 'Raleway';
  color: #212121;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.19;
  font-size: 26px;
  letter-spacing: 0.03em;
  padding-top: 60px;
}

.adress__studio {
  color: #2196f3;
}

.adress__w-studio {
  color: #ffffff;
}

.addres__bottom {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
  margin-top: 20px;
  font-style: normal;
}

.addres__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  display: block;
  margin-bottom: 9px;
  transition: 0.2s;
}

.addres_botom-icons-name {
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 20px;
  margin-left: 70px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.addres__botom-icons {
  display: flex;
  gap: 10px;
}
.addres__sm-icons {
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  gap: 10px;
  margin-left: 70px;
}

.addres__border-svg {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.addres__border-svg:hover {
  background: #2196f3;
}

.addres__margines {
  margin-top: 12px;
}

.send__buton {
  margin-top: 72px;
  margin-left: 171px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.send__input-size {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 16px;
  color: #ffffff;
  align-items: baseline;
}

.send__buton-color {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
  margin-left: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-content: center;
  margin-left: 380px;
  margin-top: -50px;
}

.send__buton-color:hover {
  background: rgba(255, 255, 255, 0.1);
}

.send__buton-bottom-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.send__svg-marg-bottom {
  margin-left: 24px;
  fill: #eeeeee;
}

.portfolioddd {
}

.buttons {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 94px;
}

.buttons__five {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 4px;
  background: #f5f4fa;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  width: 121px;
  height: 38px;
  color: #212121;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 0.2s;
}

.buttons__five:hover {
  color: #ffffff;
  background: #2196f3;
}

.buttons__five:focus {
  background-color: #2196f3;
  outline: none;
}

.grid__flex-graf {
  display: flex;
  gap: 30px;
  padding: 0;
  margin-top: 30px;
}

.borderImgPortfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 370px;
  height: 404px;
  background: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.borderImgPortfolio:hover .OnBox {
  transform: translate(0);
}

.boderAl:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.OnBox {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 49px;
  padding-right: 45px;
  transition: 0.2s;
}

.OnBoxTr:hover {
  transform: translatey(0%);
}

.OnBoxTr {
  transition: transform 250ms ease;
  transition: 0.2s;
}

.box_description {
  position: relative;
  z-index: 4;
  flex: 1;
  background-color: white;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.graf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}

.grafTxt {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
}

.adress__flex {
  display: flex;
}

.addres {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
  margin-top: 20px;
  font-style: normal;
}
